.line-chart-report-manager {
    margin-top: 20px;
    margin-left: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.box-shadow-card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.pie-chart-report-manager {
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg:not(:root) {
    overflow: visible;
}