.ManageDepartment-container {
  display: flex;
  margin-top: 7.5vh;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}
.ManageDepartment-container .role-table {
  width: 80%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.ManageDepartment-container .role-create {
  display: flex;
  justify-content: space-between;
  padding: 0 0 3vh 0;
}
.ManageDepartment-container .role-create #role-btn-create {
  align-self: flex-start;
  margin-right: 10%;
  background-color: rgb(54, 247, 74);
  color: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ManageDepartment-container .role-table-container {
  display: flex;
  justify-content: center;
}
.ManageDepartment-container .role-create-search {
  width: 25%;
  margin-left: 10%;
  align-self: flex-end;
}
