.header-container{
    height: 8.5vh;
    width: 100vw;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color:rgb(243, 242, 242);
}
.header-container #logo{
    margin-left: 2vw;
    height: 7.5vh;
}
.header-container .icon-btn{
    width: 2.5vh;
    height: 2.5vh;
    /* margin-right: 2vw; */
}

.header-container #avatar{
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    margin-right: 1.5vw;
}
.header-container .header-btn-container{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.header-btn-container .icon-btn-container {
    background-color: rgb(199, 199, 199);
    /* outline: 1px dashed red; */
    padding: 5px;
    border-radius: 50%;
    line-height: 100%;
}

.header-btn-container .icon-btn-container:hover, .header-btn-container .icon-btn-notification:hover  {
    cursor: pointer;
    scale: 1.1;
}
