* {
  padding: 0;
  margin: 0;
}

#register-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#register-form-wrapper #register-form-background {
  display: flex;
  width: 1200px;
  height: 650px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#register-form-wrapper #register-form-background #register-form-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 215, 215);
  height: 100%;
  width: 50%;
  border-radius: 20px 0 0 20px;
}

#register-form-wrapper #register-form-background #register-form-input-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

#register-form-background #register-form-input-details #register-form-header {
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 20px;
}

#register-form-user-pass-wrapper {
  /* background-color: #005eec; */
  width: 80%;
}

#register-form-background #register-form-input-details #register-form-details,
#register-form-already-account {
  font-size: 15px;
  color: gray;
  margin-top: 7px;
}

#register-form-input-details .register-form-input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#register-form-input-details .register-form-input label {
  font-size: 13px;
}

.register-form-input .register-form-input-component {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(194, 194, 194);
  margin-top: 3px;
  box-sizing: border-box;
  padding-left: 15px;
}

.register-form-input .register-form-input-component:focus {
  outline: none !important;
  border: 1.5px solid black;
}

#register-form-background
  #register-form-input-details
  #register-form-other-details {
  width: 55%;
}

#register-form-input-details
  .register-form-create-account-button {
  margin-top: 20px;
  border: none;
  background-color: #005eec;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#register-form-input-details
  .register-form-create-account-button:hover {
    background-color: #1b6de9;
    cursor: pointer;
  }

#register-form-logo img {
  width: 40%;
}
